//padding

.sm-padding-bottom{
    padding-bottom: $sm;
}

.md-padding-bottom{
    padding-bottom: $md;
}

.md-padding-top{
    padding-top: $md;
}


//margin

.x-lg-margin-bottom{
    margin-bottom: $x-lg;
}

.x-lg-margin-top{
    margin-top: $x-lg;
}

.sm-margin-bottom{
    margin-bottom: $sm;
}


.vertical-center{
    display: flex;
    align-items: center;
}


.padding-r-l{
    padding: 0 3rem;
}