//padding

.sm-padding-bottom{
    padding-bottom: $sm;
}

.md-padding-bottom{
    padding-bottom: $md;
}


//margin

.x-lg-margin-bottom{
    margin-bottom: $x-lg;
}

.x-lg-margin-top{
    margin-top: $x-lg;
}

.sm-margin-bottom{
    margin-bottom: $sm;
}

