nav{
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    padding: 0.8rem 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: -webkit-fill-available;


div{
    display: flex;
    a{
        color: white;
        padding: 0 20px 0 0;
        text-decoration: none;
    }
    a:hover{
        color: #C2185B;
    }
}
}


.logo-nav{
    height: 75px;
}